.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
.git/**
node_modules/**
out/test/**
test/**
esbuild.js
webpack.config.js
.eslintignore
.npmrc
.prettierrc
.prettierignore
**/*.vsix
